<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='chat_style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>

<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                    <img src="{{ url_for('static', filename='images/robot.png') }}"  alt="Chat Icon" class="chat-icon">
                    <h4 class="chatbox__heading--header"> Chatbot Connect: Here to Listen !</h4>
                    <button class="close-btn"></button>
            </div>
            <div class="chatbox__messages">

                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Type something to chat now...">
                <button class="chatbox__send--footer send__button"></button>
            </div>
        </div>

    </div>
</div>

    <script type="text/javascript" src="{{ url_for('static', filename='chat_app.js') }}"></script>

</body>
</html>
